$primary: #5d5fef;

.side-bar-item-font {
  color: #737791;
}

.side-bar-item-active-color {
  background-color: $primary;
  color: white;
}

.side-bar-footer-img {
  border-radius: 15px;
  width: 12dvw;
  height: 25dvh;
  background-image: url("/images/siderBarFooterBg.png");
  background-size: cover;
  background-position: center center;
  padding: 1rem;
}
