<div class="grid">
  <div class="col-2">
    <div class="flex justify-content-center">
      <div class="top-0 fixed">
        <div class="flex py-4 top-0 px-6">
          <img alt="sideBar Header LOGO" src="images/dummylogo.png" />
          <div class="align-self-center text-2xl font-bold ml-4">Dabang</div>
        </div>

        <!-- SideBar Item -->
        <div class="px-6">
          <a
            *ngFor="let item of items; let first = first"
            href="/Dashboard"
            class="flex border-round-2xl py-3 px-5 my-2 no-underline side-bar-item-font"
            [ngClass]="{ 'side-bar-item-active-color': first }"
          >
            <i [class]="item.icon"></i>
            <span class="mx-auto">{{ item.label }}</span></a
          >
        </div>

        <div class="flex justify-content-center text-center mt-8 px-6">
          <div class="side-bar-footer-img">
            <div>
              <img src="images/Logo.png" alt="" width="48" height="48" />
              <p class="text-white text-lg mb-0 mt-2">Dabang Pro</p>
              <p class="text-white text-sm mb-0 mt-2">
                Get access to all features on tetumbas
              </p>
            </div>
            <button
              pButton
              pRipple
              label="Get Pro"
              class="bg-white text-primary border-white py-2 px-4 mt-4"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-10 p-0 bg-gray-100">
    <app-first />
  </div>
</div>
