::ng-deep .p-card {
  border-radius: 12px;
  .p-card-body {
    color: #333;
    height: 184px;
  }

  .p-card-content {
    height: 150px;
    font-size: 12px;

    .heading {
      font-weight: bold;
    }
    .middlecontent {
      font-weight: bold;
    }

    .bluetext {
      color: blue;
      font-size: 10px;
    }
  }
}

::ng-deep .p-panel {
  .p-panel-content {
    height: 348px;
  }
}

::ng-deep .header-panel {
  .p-panel-content {
    height: 100px;
  }
}
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #ffffff !important;
  // border: none !important;
  font-weight: normal;
  color: #96a5b8;
}
::ng-deep .p-datatable .p-datatable-tbody > tr {
  border: 1px solid #96a5b8;
}
::ng-deep .p-card-1 {
  .p-card-body {
    background-color: #ffd0ce;
    border-radius: 12px;
  }
}
::ng-deep .p-card-2 {
  .p-card-body {
    background-color: #feddc7;
    border-radius: 12px;
  }
}
::ng-deep .p-card-3 {
  .p-card-body {
    background-color: #caf1d8;
    border-radius: 12px;
  }
}
::ng-deep .p-card-4 {
  .p-card-body {
    background-color: #ead6fd;
    border-radius: 12px;
  }
}
::ng-deep .p-progressbar {
  height: 5px;
}
::ng-deep .p-progressbar-value {
  background-color: #4caf50;
}

::ng-deep .progressbar1 {
  .p-progressbar {
    background-color: #d0e1fd;
  }
  .p-progressbar-value {
    background-color: #85b2f9;
  }
}

::ng-deep .progressbar2 {
  .p-progressbar {
    background-color: #caf1d8;
  }
  .p-progressbar-value {
    background-color: #76db9b;
  }
}

::ng-deep .progressbar3 {
  .p-progressbar {
    background-color: #ead6fd;
  }
  .p-progressbar-value {
    background-color: #c996fa;
  }
}

::ng-deep .progressbar4 {
  .p-progressbar {
    background-color: #feddc7;
  }
  .p-progressbar-value {
    background-color: #fba86f;
  }
}

::ng-deep .button1 {
  background-color: #f5f9ff;
  border: 2px solid #85b2f9;
  color: #85b2f9;
  height: 20px;
}
::ng-deep .button2 {
  background-color: #f4fcf7;
  border: 2px solid #76db9b;
  color: #76db9b;
  height: 20px;
}
::ng-deep .button3 {
  background-color: #fbf7ff;
  border: 2px solid #c996fa;
  color: #c996fa;
  height: 20px;
}
::ng-deep .button4 {
  background-color: #fff8f3;
  border: 2px solid #fba86f;
  color: #fba86f;
  height: 20px;
}

.upload {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
}
